flows.json
[{"id":"70e49228.93aec4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e61a1070.c29888","type":"ui_form","z":"70e49228.93aec4","name":"","label":"Input","group":"197538ef.773357","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles ","value":"i","type":"text","required":false,"rows":null},{"label":"BMI","value":"j","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"n","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":" thinness 1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":390,"y":440,"wires":[["47941fe7.798688"]]},{"id":"47941fe7.798688","type":"function","z":"70e49228.93aec4","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n//following are required to receive a token\nvar apikey=\"sVNE7O7NxkaFOG2DA2M1FzTo16-oOFsYkkT8jH9rkvH0\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":605,"y":460,"wires":[["7c7eac43.e1041c"]]},{"id":"99894733.2a986","type":"http request","z":"70e49228.93aec4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/8ad04919-722e-4571-9d07-cf380bf50740/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":850,"y":540,"wires":[["c8dafcd9.a86ff","d3668e2a.b21988"]]},{"id":"4fe34572.075a5c","type":"debug","z":"70e49228.93aec4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":640,"wires":[]},{"id":"d3668e2a.b21988","type":"function","z":"70e49228.93aec4","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":640,"wires":[["4fe34572.075a5c","ce049dd1.d02658"]]},{"id":"c8dafcd9.a86ff","type":"debug","z":"70e49228.93aec4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":540,"wires":[]},{"id":"ce957fc6.ecd72","type":"function","z":"70e49228.93aec4","name":"PrePrediction","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"903d3708-097a-40b8-b43e-33a239065561\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//send the user values to service endpoint\nmsg.payload ={\"input_data\":[{\"fields\":[\"Country\", \"Year\", \"Status\",\"Adult Mortality\",\"infant deaths\",\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\"Measles\",\"BMI\",\"under-five deaths\",\"Polio\",\"Total expenditure\",\"Diphtheria\",\" HIV/AIDS\",\"GDP\",\"Population\",\" thinness 1-19 years\",\" thinness 5-9 years\",\"Income composition of resources\",\"Schooling\"],\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}]};\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":540,"wires":[["99894733.2a986"]]},{"id":"7c7eac43.e1041c","type":"http request","z":"70e49228.93aec4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":750,"y":460,"wires":[["ce957fc6.ecd72"]]},{"id":"ce049dd1.d02658","type":"ui_text","z":"70e49228.93aec4","group":"197538ef.773357","order":2,"width":0,"height":0,"name":"","label":"Prediction:","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":720,"wires":[]},{"id":"197538ef.773357","type":"ui_group","z":"","name":"Prediction","tab":"793f73c6.e6258c","order":1,"disp":true,"width":"6","collapse":false},{"id":"793f73c6.e6258c","type":"ui_tab","z":"","name":"Life_Expectancy","icon":"","disabled":false,"hidden":false}]
